*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: row;   
}

nav ul{
    list-style-type: none;
}

header{
    background-color:#285ceb;
    color: #f1f4fd;
    font-weight: 600;
}

nav{
    height: 100%;
    padding: 15px 0px;
}

.align-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

nav>ul{
    width: 70%;
    margin: 0 auto;
}

.item-left,.item-right{
    width: 20%;
    display: flex;
    align-items: center;
}

.item-right{
    justify-content: flex-end;
}
.item-left{
    justify-content: flex-start;
}

.item-center{
    width: 60%;
}

.justify-center{
    justify-content: center;
}

.space-evenly{
    justify-content: space-evenly;
}

ul.item-left>li,ul.item-right>li{
    padding: 5px;
    margin-right: 1.5rem;
}

ul.space-between>li{
    padding: 25px
}

ul.flex>li{
    padding: 25px;
}
.section-jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;   
    padding: 125px 0px;
    font-family:'Lato', sans-serif;
}

.jumbotron{
    margin: 0 auto;
    max-width: 1200px;
    text-align:center;
}

.bg_white{
    background-color: white;
}

.section{
    padding: 120px 0px;
}

.container{  
    width: 80%;
    margin: 0 auto;
}

.blue-box{
    width: 60%;
    margin-right: 120px;
    padding-bottom: 50px;
}

.pink-box{
    width: 40%;
    margin-top: 60px;
}

.pink-box>p{
    color: black;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 500;
    font-family:'Lato', sans-serif;
    margin-top: 40px;
}

.flex-reverse{
    display: flex;
    flex-direction: row-reverse;
}

.bg-gray{
    background-color:#f6f6f6 ;
}

.section-big{ 
    padding: 100px 0px;
}

.green-box{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.bg-black{
    background-color: #23272a;
}

.section.bg-black{
    padding-top: 10px;
    height: 500px;
    background-color: #23272a;
}

.acqua-box{
    width: 17%;
}

.magenta-box{
    width: 32%;    
}

hr{
    color: white;
}

.bg-acqua{
    background-color:#7fffd4 ;
}

.button{
    background-color: #ffb6c1;
    padding: 5px 0px;
    border: 2px dashed black;
}

.section-bottom-footer{
    height: 70px;
    margin-top: 20px;
}

body{
    font-family:'Cabin', sans-serif;
    color: white;
}

.pill{
    border-radius: 30px;
    padding: 15px;
}

.font-black{
    color: #303030;
}

h1{
    font-size: 3.8rem;
    font-weight: 900;
}

.jumbo-p{
    padding: 50px 0px 0px 0px;
    line-height: 2rem;
    font-size:1.2rem ;
    font-weight: 600;
    margin-bottom: 40px;
}

.section-jumbotron span:nth-of-type(1){
    margin-right: 10px;
}

li.item-right{
    font-weight: 500;
}

.down-arrow{
    font-weight: 800;
    font-size:  20px;
}

h2{
    font-size: 3.5rem;
    font-weight: 900;
    font-family:'Lato', sans-serif;
    line-height: 4rem;
}

#voice-connected-img{
    margin-left: 180px;
    margin-top: 100px;
}

#graggle-img{
    margin-top: 40px;
}

#just-chillin-img{
    width: 80%;
}

.green-box>p{
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
    font-family:'Lato', sans-serif;
    margin-top: 50px;
    line-height: 1.8rem;
}

h3{
    font-size: 2.3rem;
    font-weight: 900;
    font-family:'Lato', sans-serif;
    text-align: center;
    margin-bottom: 50px;   
}

.bg-violet{
    background-color:#8ea1e1 ;
}

.bg-violet span:nth-of-type(1){
    margin-right: 10px;
}

.text-violet{
    color: #596aa4;
}

.acqua-box li,.acqua-box h4{
    padding: 10px 10px;
}

.acqua-box ul{
    list-style-type: none;
}